
html, body {
    margin: 10px 2em;
    padding: 0;
}

body {
    font: 62.5% Verdana, Helvetica, Arial, sans-serif;
    color: #000;
    background: #fff;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0;
}
h4 {
    display: inline;
}

#title {
    font-size: 1.5em;
}

#boardChess {
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
}