@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
html, body {
    margin: 10px 2em;
    padding: 0;
}

body {
    font: 62.5% 'Source Sans Pro', sans-serif;
    color: #000;
    background: #fff;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0;
}
h4 {
    display: inline;
}

#title {
    font-size: 1.5em;
}

#boardChess {
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;

}
#boardChess div {
    text-align: right;
}

#chat {
    border: 1px solid black;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}